.header-content-wraper {
  margin-top: 80px;
}
p{
  font-family: 'Monda', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Monda', sans-serif;
}
.logo > img {
  height: 80px;
  width: 100px;
}
body{
  background: url(img/blue-background.jpg) center center no-repeat;
  background-size: cover;
}
.about-me{
  box-shadow: 10px 5px 15px rgba(128, 128, 128, 0.555);
  background-color: white;
  border-radius: 20px;
}
.navigation-wrapper {
  margin-top: 40px;
  align-content: space-around;
  border-radius: 20px;
  box-shadow: 10px 5px 15px rgba(128, 128, 128, 0.555);
  background-color: white;
  opacity: 0.8;
}
.container,.technologies,.projects{
  box-shadow: 10px 5px 15px rgba(128, 128, 128, 0.555);
  background-color: white;
  border-radius: 20px;
  opacity: 0.8;
}
button:hover {
  box-shadow: 10px 5px 15px rgba(128, 128, 128, 0.555);
}
.row {
  margin-bottom: 40px;
  justify-content: space-evenly;
  align-items: center;
}
.basic-info-img {
  width: 450px;
  height: 300px;
}

.basic-info {
  align-self: center;
  text-align: center;
}
.basic-info > h3 {
  padding-left: 275px;
  font-size: 2rem;
}
.basic-info > h1 {
  font-size: 4rem;
}
/* .info-divs {
opacity: 0;
} */
.info-divs > p {
  margin-top: 5px;
  font-size: 18px;
  margin-left: 25px;
  margin-right: 25px;
}
.info-div-about-me{
opacity: 0;
 transition-property: opacity;
 transition-duration: .5s;
 transition-timing-function: linear;
}
.about-me-section:hover .info-div-about-me{
  opacity: 1;
}
.info-div-about-me > p {
  margin-top: 5px;
  font-size: 18px;
  margin-left: 25px;
  margin-right: 25px;

}
.about-me,
.projects,
.technologies {
  align-self: center;
  text-align: center;
  opacity: 0.8;
}
.about-me::after {
  content: url(img/images.png);
}
.projects::after {
  content: url(img/under-construction.png);
}
.technologies::after {
  content: url(img/images\ \(1\).png);
}
button {
  margin: 7px;
  font-family: 'Monda', sans-serif;
}
.thec-table {
  align-self: center;
  text-align: center;
}
.card> img {
  height: 100px;
  width: 120px;
  align-self: center;
}
.card{
  align-self: center;
  text-align: center;
  border-radius: 20px;
  border: none;
  opacity: 0.8;
}
.contact-me-section{
  box-shadow: 10px 5px 15px rgba(128, 128, 128, 0.555);
  background-color: white;
  border-radius: 20px;
  opacity: 0.8;
}
.contact-me-div {
  text-align: center;
}
.contact-me-div >a >img{
  margin-right: 15px;
  width: 40px;
  height: 40px;
}



/* @keyframes divOpacity{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.3;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.7;
  }
  100%{
    opacity: 1;
     animation-delay: 2;
  }
}

body:hover .info-div-about-me  {
  animation-name: divOpacity;
  animation-duration: 1s;
  animation-timing-function:ease;
anima
  /* animation-timing-function: ease; */
  
/*  */