.header-content-wraper {
  margin-top: 80px;
}
.logo > img {
  height: 80px;
  width: 100px;
}
/* body{
  background: url(img/fundo-de-tecnologia-abstrato-branco-cinza_42421-143.jpg) center center no-repeat;
  background-size: cover;
} */
.about-me{
  box-shadow: 10px 5px 15px rgba(128, 128, 128, 0.555);
  background-color: white;
  border-radius: 20px;
}
.navigation-wrapper {
  margin-top: 40px;
  align-content: space-around;
  border-radius: 20px;
  box-shadow: 10px 5px 15px rgba(128, 128, 128, 0.555);
  background-color: white;
}
.container,.technologies,.projects{
  box-shadow: 10px 5px 15px rgba(128, 128, 128, 0.555);
  background-color: white;
  border-radius: 20px;
}
button:hover {
  box-shadow: 10px 5px 15px rgba(128, 128, 128, 0.555);
}
.row {
  margin-bottom: 40px;
  justify-content: space-evenly;
  align-items: center;
}
.basic-info-img {
  width: 450px;
  height: 300px;
}

.basic-info {
  align-self: center;
  text-align: center;
}
.basic-info > h3 {
  padding-left: 275px;
  font-size: 2rem;
}
.basic-info > h1 {
  font-size: 4rem;
}
/* .info-divs {
  background-color: yellowgreen;
  align-self: flex-end;
  text-align: center;
  border-radius: 30px;
} */
.info-divs > p {
  margin-top: 5px;
  font-size: 18px;
  margin-left: 25px;
  margin-right: 25px;
}
.about-me,
.projects,
.technologies {
  align-self: center;
  text-align: center;
}
.about-me::after {
  content: url(img/images.png);
}
.projects::after {
  content: url(img/under-construction.png);
}
.technologies::after {
  content: url(img/images\ \(1\).png);
}
button {
  margin: 7px;
}
.thec-table {
  align-self: center;
  text-align: center;
}
.card> img {
  height: 100px;
  width: 120px;
  align-self: center;
}
.card{
  align-self: center;
  text-align: center;
  border-radius: 20px;
  border: none;
}
.contact-me-section{
  box-shadow: 10px 5px 15px rgba(128, 128, 128, 0.555);
  background-color: white;
  border-radius: 20px;
}
.contact-me-div {
  text-align: center;
}
.contact-me-div >a >img{
  margin-right: 15px;
  width: 40px;
  height: 40px;
}
